<!DOCTYPE html>
<html>
    <head>
        <meta charset='UTF-8' />
        <link href='../css/bootstrap.min.css' rel='stylesheet'>
        <link href='../css/bootstrap-theme.min.css' rel='stylesheet'>
        <link href='../css/mystyles.css' rel='stylesheet'>
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
        <script src='../js/bootstrap.min.js'></script>
        <script src='../js/reloj.js'></script>
        <title>App-tracking-twig</title>
    </head>
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">APP-TRACKING</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#"><span class="glyphicon glyphicon-alert"></span> Recuperacion</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> Autores<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Rubén Álvarez</a></li>
                                <li><a href="#">Gorka Pérez</a></li>
                                <li><a href="#">Iosu Recalde</a></li>
                                <li><a href="#">Sergio Varela</a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-center">
                        <li>
                            <a id="reloj">Cargando reloj</a>
                        </li> 
                    </ul>               
                </div>    
            </div>
        </nav>
        
        <br>
        <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title"> Recupera tu cuenta </h4>
                </div>
                <div class="panel-body">
                    <!-- description list -->
                    <dl class="dl-horizontal">
                        <dd>
                            <p> Para restablecer la contraseña, introduce la dirección de correo electrónico que utilizas para iniciar sesión. </p>
                            <form class="form-horizontal" action='../controller/recuperarpassword.php' method='POST' name='formulario_recuperarpassword'>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label" for="usuario">Email:</label>
                                    <div class="col-sm-5">
                                        <input class="form-control" type='text' name='email'>
                                    </div>
                                </div>
                                <button class="col-sm-offset-2 btn btn-info" type="submit" name="recuperarpassword">Enviar</button>
                            </form>
                            <br/>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </body>
</html>